@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&display=swap');

.app-header {
    border-bottom: 3px solid gray;
    height: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}